* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url("../images/norwegian_rose.png");
  background-repeat: repeat;
  font-family: 'Raleway', sans-serif;
}

#container {
  position: relative;
  padding: 0px;
  padding-bottom: 80px;
  min-height: 100%;
  min-width: 482px;
}



/* game header */
    /* banner - container */ 
    div>header {
      padding: 10px auto;
      height: auto;
      background-color: darkgray;
      line-height: 100px;
      text-align: center;
    }

        /* Begin game button */
        #startGame {
          float: left;
          padding: 20px;
          margin: 50px;
          border: outset 3px slategray;
          border-radius: 18px;
          background-color: plum;
          font-family: 'Berkshire Swash', cursive;
          color: purple;
          font-size: 2em;
        }

        /* h1 - title */ 
        #gameName {
          font-family: 'Berkshire Swash', cursive;
          color: purple;
          font-size: 5em;
        }

        /* h4 - subTitle */ 
        h4 {
          color: white;
          font-size: 1.25em;    
          line-height: 60px;
          font-style: italic;
        }

        /* play again button --- do not refresh page, do not clear wins and losses */


#contentBody {

}

/* Instructions */
    /* container div for the rules*/ 
    #gameRules {
      float: left;
      margin: 36px auto;
      padding: 36px;
      border: ridge 3px gray;
      border-radius: 36px;
      max-width: 680px;
      background-color: white;
    }

        /* h3 label for rules */ 
        #rulesHeader {
          font-size: 2em;
          line-height: 60px;
          font-family: 'Berkshire Swash', cursive;
        }

        /* dl - list container*/ 
        #rulesList {
          font-size: 1em;
          line-height: 1.15em;
          max-width: 24em;
        }

           /* dt - emphasised label for each rule item*/ 
            dt {
              margin-bottom: 5px;
              font-family: 'Berkshire Swash', cursive;
              letter-spacing: .2em;

            }
                
              /* dd - game rule items*/ 
              dd {
                margin-bottom: 15px;
              }

/* All the scores */            
    /* container for score divs */   
    #scoresDiv {
      width: 100%;
      margin: 20px;
      margin-top: 0px;
      padding: 20px;
    }

        /* random number to match */
        #targetScore { 
          height: 3em; 
          width: 200px;
          margin: 20px;
          padding: 10px;
          background-color: white;
          border-radius: 18px;
          border: double 3px gray;
          text-align: center;
          font-weight: bold;
        }



        /* total wins and losses */
        #winsLosses {
          width: 150px;
          margin: 20px;
          padding: 10px;
          background-color: white;
          border-radius: 18px;
          border: double 3px gray;
        }

        /* highest game score */
        #highScore {
          width: 150px;
          margin: 20px;
          padding: 10px;
          background-color: white;
          border-radius: 18px;
          border: double 3px gray;
        }

        /* current game score */
        #currentScore {
          width: 250px;
          margin: 20px;
          padding: 10px;
          background-color: white;
          border-radius: 18px;
          border: double 3px gray;
        }

/* crystal buttons*/
    /* container */ 
    #crystalButtonsDiv {
      margin: 20px auto;
      max-width: 36em;
      height: auto;
    }

        /* clickable area */ 
        button {
          padding: 0px;
          margin: 10px;
          border: none;
          width: 200px;
          max-width: 50%;
          height: auto;
          background-color: transparent;
          cursor: pointer;
        }

            /* crystal image */ 
            button>img {
              max-height: 100%;
              max-width: 100%;
              margin: auto;
            }

            /* crystal values */
            button>input {
              opacity: .5;
            };



/* footer */
    /* container */ 
    div>footer {
      position: absolute;
      bottom:0;
      width: 100%;
      height:40px;   /* Height of the footer */
      line-height: 40px;
      padding: 20px;
      text-align: center;
      background-color: gray;
    }

        /* copyright */ p {
          color: white;
        }


/* formatting classes */        

.vertical-container {
  height: auto;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.flex-wrap {
      display: -webkit-flex;
      display:         flex;
      -webkit-flex-wrap: wrap; /* Safari 6.1+ */
              flex-wrap: wrap;
}

.bold {
  font-weight: bold;
}

.clearfix {
  overflow: auto;
}
